.bird-wrapper {
  padding: 100px 0;
  color: #000;
  height: 100%;
  width: 100%;

  p.bg-primary {
    max-width: 500px;
  }

  #bird-count {
    min-width: 230px
  }

  #sky {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;

    div {
      height: 100%;
      width: 100%;
    }

    
    .bird {
      position: absolute;
      width: 1px;
      height: 1px;
      background-color: #fff;
    }
  }

  #back-to-bird-setup,
  #home {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}